* {
    margin: 0;
    padding: 0;
}


html, body, 
#root {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style-type: none;
}

.wrapper {
    width: 100%;
    height: 100%;
}

.header {
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px #999;
    display: flex;
    justify-content: space-between;

    .logo {
        width: 200px;
        height: 100%;
    }

    .nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 80px;

        li {
            height: 80px;
            cursor: pointer;
            
            a {
                display: inline-block;
                width: 100%;
                height: 100%;
                line-height: 80px;
                padding-left: 20px;
                padding-right: 20px;
                box-sizing: border-box;
            }

            &:hover {
                background: #7a81db;
            }
        }
    }
}

.main {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    .index {
        h1 {
            font-size: 6rem;
        }
        p {
            margin-top: 20px;
            font-size: 1.3rem;
            height: 50px;
        }
        a {
            display: inline-block;
            margin-top: 50px;
            width: 180px;
            height: 40px;
            line-height: 40px;
            border-radius: 40px;;
            box-shadow: 0px 0px 5px #666;
            color: #666;
            font-size: 1.5rem;
            cursor: pointer;
        }
    }

    .console {
        width: 100%;
        height: 100%;
        padding-top: 80px;
        padding-bottom: 50px;
        // background: lightgreen;
        display: flex;
        flex-direction: row;

        .console-nav {
            width: 300px;
            height: 100%;
        }

        .console-body {
            width: calc(100% - 200px);
            height: 100%;
        }

    }
}

.footer {
    height: 50px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;

    text-align: center;

    p {
        height: 50px;
        line-height: 50px;
        color: #666;
    
        a {
            color: #666;
        }
    }
}