<!DOCTYPE html>
<html>
<head>
    <title>wechatBot</title>
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
    <div id="root">
        <div class="wrapper">
    
            <div class="main">
                <div class="console">
                    <div class="console-nav">

                    </div>
                    <div class="console-body">

                    </div>
                </div>
            </div>
    
            <footer class="footer">
                <p>
                    <a href="">Feidian Studio</a> 提供技术支持</p>
            </footer>
        </div>
    </div>
</body>
</html>